.categories {
  padding-top: 120px;
  .categories-title {
    padding-left: 70px;
  }
  .btn-prev {
    &::after {
      position: absolute;
      content: url(../img/left_arrow.png);
      left: 100px;
    }
  }

  .btn-next {
    &::after {
      position: absolute;
      content: url(../img/right_arrow.png);
      right: 100px;
    }
  }

  .swiper-container {
        width: 100%;
        margin: 30px 0 170px;

        .swiper-slide {
          .road {
            width: 100%;
            min-height: 320px;
            padding:44px 0 25px;
            background-image: url(../img/cat_sl_road.jpg);
            background-size: cover;
            .slide-pic {
              margin: 0 auto;
            }
            .slide-title {
              padding: 25px 0 0;
              .text-l;
              text-align: center;
              color: transparent; 
             -webkit-text-stroke: 1px #fff;
            }
          }
          .forest {
            width: 100%;
            min-height: 320px;
            padding:44px 0 25px;
            background-image: url(../img/forest.jpg);
            background-size: cover;
            .slide-pic {
              margin: 0 auto;
            }
            .slide-title {
              padding: 25px 0 0;
              .text-l;
              text-align: center;
              color: transparent; 
             -webkit-text-stroke: 1px #fff;
            }
          }
          .street {
            width: 100%;
            min-height: 320px;
            padding:44px 0 25px;
            background-image: url(../img/gorod_neboskrebov.jpg);
            background-size: cover;
            .slide-pic {
              margin: 0 auto;
            }
            .slide-title {
              padding: 3px 0 0;
              .text-l;
              text-align: center;
              color: transparent; 
             -webkit-text-stroke: 1px #fff;
            }
          }
        }
      }
}
@media screen and (min-width:@mobile) and (max-width:@tablet) {
  .categories {
    padding-top: 60px;
    .categories-title {
      padding-left: 30px;
      font-size: 42px;
    }
    .btn-prev {
      display: none;
    }
  
    .btn-next {
    display: none;
    }
    .swiper-container {
      width: 100%;
      margin: 30px 0 90px;

      .swiper-slide {
        .road {
          width: 100%;
          min-height: 320px;
          padding:44px 0 25px;
          background-image: url(../img/cat_sl_road.jpg);
          background-size: cover;
          .slide-pic {
            margin: 0 auto;
          }
          .slide-title {
            padding-left: 15px;
            padding-right: 15px;
            .text-s;
            text-align: center;
            color: transparent; 
           -webkit-text-stroke: 1px #fff;
          }
        }
        .forest {
          width: 100%;
          min-height: 320px;
          padding:44px 0 25px;
          background-image: url(../img/forest.jpg);
          background-size: cover;
          .slide-pic {
            margin: 0 auto;
          }
          .slide-title {
            padding-left: 15px;
            padding-right: 15px;
            .text-s;
            text-align: center;
            color: transparent; 
           -webkit-text-stroke: 1px #fff;
          }
        }
        .street {
          width: 100%;
          min-height: 320px;
          padding:44px 0 25px;
          background-image: url(../img/gorod_neboskrebov.jpg);
          background-size: cover;
          .slide-pic {
            margin: 0 auto;
          }
          .slide-title {
            padding-left: 15px;
            padding-right: 15px;
            .text-s;
            text-align: center;
            color: transparent; 
           -webkit-text-stroke: 1px #fff;
          }
        }
      }
    }
  }
}