.news {
    position: relative;
    top: -147px;
    width: 100%;
    .news-title {
        padding-bottom: 63px;
        .title;
        text-align: center;
    }

    .news-slider {
        display: flex;
        min-width: 0;
        max-width: 80%;
        justify-content: space-around;
        align-items: start;
        .news-slider_wrapper {
            width: 100%;
        }
         .news-slider-slide {
            width: 100%;
            .slide-img {
                width: 100%;
                max-height: 288px;
                object-fit: cover;
            }
            .slide_content {
                position: relative;
                min-height: 270px;
                background-color: #f2f2f2;
                .slide-title {
                    padding-top: 20px;
                    text-align: center;
                    .text-m;
                    font-weight: bold;
                }
                .slide-text {
                    padding: 29px 10px 0;
                    text-align: center;
                    .text-s;
                }
                .slide-link {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 53px;
                    margin-top: 31px;
                    padding: 14px 0;
                    text-decoration: none;
                    border: 2px solid #000;
                    text-align: center;
                    color: #000;
                    .text-s;
                    font-weight: bolder;
                    text-transform: uppercase;transition: 0.8s;
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        
                    }
                }
            }
        }
        .news-slider-slide:nth-child(2) {
            padding: 0 41px;
        }
    }
    .news_button-prev {
        outline: none;
        left: 50px;
        &::after {
          position: absolute;
          content: url(../img/left_arrow_black.png);
        }
      }
    
    .news_button-next {
        outline: none;
        right: 50px;
        &::after {
          position: absolute;
          content: url(../img/right_arrow_black.png);
        }
    }   
    
}
@media screen and (min-width:@mobile) and (max-width:@tablet) {
    .news  {
        top: 0;
        .news-title {
            font-size: 42px;
            line-height: 42px;
            padding-left: 30px;
            padding-bottom: 30px;
            text-align: left;
        }
        .news-slider {
            .news-slider_wrapper {
                width: 100%;
            }
             .news-slider-slide {
                .slide_content {

                    .slide-title {
                        .text-s;
                        font-weight: 700;
                    }
                    .slide-text {
                        font-size: 16px;
                        line-height: 16px;
                    }
                    .slide-link {
                        margin-top: 0;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 700;
                    }
                    
                }
            }
            
        } 
        .news_button-prev {
            display: none;
          }
        .news_button-next {
            display: none;
      }
    }  
}
@media screen and (min-width:@tablet) and (max-width:@laptop) {
    .news  {
        top: 0;
        .news-title {
            font-size: 42px;
            line-height: 42px;
            padding-left: 30px;
            padding-bottom: 30px;
            text-align: center;
        }
        .news-slider {
            .news-slider_wrapper {
                width: 100%;
            }
             .news-slider-slide {
                .slide_content {
                    .slide-title {
                        .text-s;
                        font-weight: 700;
                    }
                    .slide-text {
                        overflow-y: hidden;
                        font-size: 16px;
                        line-height: 16px;
                        padding-bottom: 70px;
                        text-overflow: ellipsis;
                    }
                    .slide-link {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 700;
                    }
                    
                }
            }
            
        } 
        .news_button-prev {
            display: none;
          }
        .news_button-next {
            display: none;
      }
    }
}