@bglight: #F2F2F2;
@bgfooter: #151515;

@decktop: 1440px;
@laptop: 1024px;
@tablet: 767px;
@mobile: 320px;

body {
    font-family: 'FuturaPT', sans-serif;
    color: #000;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.bg-curves {
    background-image: url(../img/BG_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2-curves {
    background-image: url(../img/BG_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.border {
    border: 2px solid blue;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
}

.text-l {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.text-m {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
}

.text-s {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.m-right {
    margin-right: 30px;
}

.m-bottom {
    margin-bottom: 30px;
}

@media screen and (min-width:@mobile) and (max-width:@tablet) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    .m-right {
        margin-right: 0;
    }
    .m-bottom {
        margin-bottom: 0;
    }
}
