.main-blog {
  .main-blog_title {
    margin: 40px auto 100px;
    text-align: center;
  }
  .main-post {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    .main-post_content {
      width: 50%;
      padding: 28px 34px 0;
      .main-post_content-title {
        .text-m;
        font-weight: 700;
      }
      .main-post_content-date {
        .text-s;
      }
      .main-post_content-text {
        margin-bottom: 100px;
        padding-top: 40px;
        font-family:'FuturaPT-Book', sans-serif;
        .text-s;
      }
      .main-post_content-link {
        display: block;
        max-width: 315px;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        .text-s;
        font-weight: 700px;
        transition: 0.8s;

        &:hover {
          background-color: #fff;
          color: #000;
        }

      }
    
      
    }
  }
  .other-posts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    margin: 30px 0 300px;
    gap: 30px;
    .other-post {
      position: relative;
      background-color: #000;
      color: #fff;
      .other-post_img {
        min-width: 100%;
        object-fit: cover;
      }
      .other-post_content  {
        position: relative;
        min-height: 370px;
        padding: 28px 23px 14px;
        .other-post_content-title {
          .text-m;
          font-weight: 700;  
        }
        .other-post_content-date {
          .text-s;
        }
        .other-post_content-text {
          padding-top: 40px;
          padding-bottom: 55px;
          font-family:'FuturaPT-Book', sans-serif;
          .text-s;
        }
      }
      .other-post_content-link {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 15px;
        display: block;
        max-width: 260px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        .text-s;
        font-weight: 700px;
        transition: 0.8s;
        &:hover {
          background-color: #fff;
          color: #000;
        }

      }
    }
  }

}

@media screen and (max-width:@tablet) {
  .main-blog {
    .main-blog_title {
      margin: 30px 0 30px;
      .text-l;
      text-align: center;
    }
    .main-post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .main-post_content {
        width: 100%;
        padding: 15px 17px 0;
        .main-post_content-title {
          .text-s;
          font-weight: 700;
          text-align: center;
        }
        .main-post_content-date {
          padding-top: 5px;
          font-size: 12px;
          text-align: center;  
        }
        .main-post_content-text {
          margin-bottom: 40px;
          padding-top: 30px;
          font-family:'FuturaPT-Book', sans-serif;
          .text-sx;
        }
      }
    }
    .other-posts {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-bottom: 100px;
      .other-post {
        .other-post_content  {
          position: relative;
          min-height: 330px;
          padding: 15px 17px 14px;
          .other-post_content-title {
            .text-s;
            font-weight: 700;
            text-align: center;  
          }
          .other-post_content-date {
            padding-top: 5px;
            font-size: 12px;
            text-align: center;
          }
          .other-post_content-text {
            margin-bottom: 55px;
            padding-top: 30px;
            padding-bottom: 0;
            font-family:'FuturaPT-Book', sans-serif;
            .text-sx;
          }
        }
        .other-post_content-link {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 15px;
          display: block;
          max-width: 85%;
          margin: 0 auto;
          padding: 10px 0;
          text-align: center;
          color: #fff;
          text-decoration: none;
          .text-s;
          font-weight: 700px;
          transition: 0.8s;
          &:hover {
            background-color: #fff;
            color: #000;
          }

        }
      }
    }

  }
}
@media screen and(min-width:@tablet) and (max-width:@laptop) {
  .main-blog {
    .main-blog_title {
      margin: 30px 0;
      .text-l;
    }
    .main-post {
      flex-direction: column;
      .main-post_img {
        min-width: 100%;
      }
      .main-post_content {
        width: 100%;
        .main-post_content-title {
          .text-m;
          font-weight: 700;
          text-align: center;
        }
        .main-post_content-date {
          .text-s;
          text-align: center;
        }
        .main-post_content-text {
          margin-bottom: 50px;
          padding-top: 40px;
          font-family:'FuturaPT-Book', sans-serif;
          .text-s;
        }
      }
    }
    .other-posts {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto;
      margin: 30px 0 300px;
      gap: 30px;
      .other-post {
        position: relative;
        background-color: #000;
        color: #fff;
        .other-post_img {
          min-width: 100%;
          object-fit: cover;
        }
        .other-post_content  {
          position: relative;
          min-height: 370px;
          padding: 28px 23px 14px;
          .other-post_content-title {
            .text-m;
            font-weight: 700;  
          }
          .other-post_content-date {
            .text-s;
          }
          .other-post_content-text {
            padding-top: 40px;
            padding-bottom: 55px;
            font-family:'FuturaPT-Book', sans-serif;
            .text-s;
          }
        }
        .other-post_content-link {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 15px;
          display: block;
          max-width: 260px;
          margin: 0 auto;
          padding: 10px 0;
          text-align: center;
          color: #fff;
          text-decoration: none;
          .text-s;
          font-weight: 700px;
          transition: 0.8s;
          &:hover {
            background-color: #fff;
            color: #000;
          }
  
        }
      }
    }
  
  }
}
